/* CSS Document */
@charset "utf-8";

/* Declaring font type */
@font-face {
    font-family: 'Arial-local';
    src: url('fonts/arial.ttf');
}

/* HTML */
html {
    background: url(../images/Background%20Image.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Background%20Image.jpg', sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Background%20Image.jpg', sizingMethod='scale');
}

/* Body */
body {
	/* No border, objects go to edge */
	margin:0;
    border:0;
	background-color:#EDD0A9;
}

/* Header */
header {
    margin:5px 0 auto auto;
	border:0;
	float:right;
}
header h1 {
	margin-bottom:2px;
    border:ridge;
    border-right:none;
	border-color:#9E9E9E;
    padding:10px 10px 17px 10px;
	background-color:#006600;
	font-family:Arial, Verdana, sans-serif;
	font-size:36px;
	color:#CC6600;	
}
header nav {
	width:650px;
	margin-top:-20px;
	background-color:#3399CC;
	font-family:Arial, Verdana, sans-serif;
	font-size:26px;
}
header nav ul {
	width:550px;
	margin-top:5px;
    border:ridge;
    border-right:none;
	border-color:#9E9E9E;
	padding:0;
	float:right;
	background-color:#3399CC;
	list-style-type:none;
}
header nav ul li {
	height:100%;
	margin:0;
	padding:5px 0;
	float:left;
}
header nav ul li a {
	margin:0;
    padding:5px 10px;
	background-color:#3399CC;
}
header nav ul li a:hover {
	background-color:rgba(0,0,0,0.2);
}
header nav ul li a:active {
	background-color:rgba(0,0,0,0.2);
}

/* Footer */
footer {
	width:800px;
	margin-bottom:1px; /* Get total height to 180px */
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
footer p {
	margin:0;
	padding:0;
	font-family:'Arial-local', Arial, Verdana, sans-serif;
	font-size:26px;
	font-weight:bold;
	color:#CC6600;
}
footer table {
	width:350px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	font-family:'Arial-local', Arial, Verdana, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000000;
}

/* Links */
a:link {
	text-decoration:none;
	color:#0000FF;
}
a:visited {
	color:#0000FF;
}
a:hover {
	color:#6600CC
}
a:active {
	color:#CC6600;
}

/**/
/* Custom ID's */
/**/

#b_main { /* Contains entire page */
	min-width:100%;
	min-height:100%;
	top:0px;
	position:absolute;
}

#b_no_footer { /* Contains content above footer */
	min-width:100%;
	min-height:100%;
}

#b_sidebar { /* Contains sidebar */
	width:250px;
	top:0px;
	bottom:180px;
    border-right:ridge;
	border-color:#9E9E9E;
	position:absolute;
	background-color:#FFFFFF;
}

#b_container { /* Contains header and page content */
	margin-left:250px; /* sidebar width */
}

#h_container { /* Contains header within #b_container */
	width:100%;
	height:170px;
	float:right;
	clear:both;
}

#b_bgDisplay { /* Contains #b_content and gives background to content */
	width:100%;
	min-width:1040px;
	min-height:0px; /* Less obtrusive transition from JavaScript */
	margin-bottom:200px; /* footer height+20 */
	padding-top:20px;
	padding-bottom:20px;
	float:left;
	background-color:rgba(20,20,20,0.8); /* rgba format for opacity */
}

#b_content { /* Contains main conent of the page */
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#f_slideButton { /* Contained within #b_main */
	width:100px;
	height:20px;
	bottom:182px;
	right:48%;
	border:none;
	border-color:#9E9E9E;
	position: absolute;
	background-size:100px 20px;
	background-image:url(../images/slideButtonDown.png);
	cursor: pointer;
}

#f_container { /* Contains the footer and #f_inside */
	height:180px;
	bottom:0px;
	left:0px;
	right:0px;
    border-top:ridge;
	border-color:#9E9E9E;
	position:absolute;
	background-color:#3399CC;
	background:linear-gradient(to top, #3399CC, #006600);
	clear:both;
}

#f_inside { /* Contains footer and centers footer */
	width:75%;
    margin:9px auto auto auto;
	position:relative;
}

/**/
/* Content Custom ID's */
/**/

#page_header { /* Content title */
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	text-decoration:underline;
	font-family:'Arial-local', Arial, Verdana, sans-serif;
	font-size:48px;
	font-style:italic;
	font-weight:bold;
	color:#CC6600;
}

#pic_border { /* Blue border on pictures */
	padding:20px;
	position:absolute;
	background-color:#3399CC;
}

#pic_container { /* White border on pictures */
	padding:20px;
	background-color:#FFFFFF;
}

#default_pic { /* Default width and height for pictures */
	width:200px;
	height:200px;
}

#text_border { /* Blue border for text */
	width:900px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	background-color:#3399CC;
}

#text_content { /* White border for text */
	padding:20px;
	background-color:#FFFFFF;
}

#text_content h4 {
	margin:2px;
	text-decoration:underline;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:32px;
}

#text_content p, #text_content div p {
	text-align:justify;
	font-family:"Arial-local", Arial, Helvetica, sans-serif;
	font-size:16px;
}

#text_content ul, #text_content div ul, #text_content div ol {
	margin-top:0px;
	margin-bottom:0px;
	font-family:"Arial-local", Arial, Helvetica, sans-serif;
}

#anchor_border { /* Blue border for anchors */
	width:700px;
	margin-bottom:-20px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	background-color:#3399CC;
}

#anchor_content { /* White border for anchors */
	padding:20px;
	background-color:#FFFFFF;
}

#anchor_content nav {
	width:620px;
	margin:0 auto;
	font-family:'Arial-local', Arial, Verdana, sans-serif;
	font-size:24px;
}

#anchor_content nav ul {
	margin:0 auto;
	padding:0;
	text-align:center;
}

#anchor_content nav ul li {
	margin-left:30px;
	display:inline;
}

/* homepage.html */
#hpg_text_wrap { /* Div behind pictures to wrap text */
	width:235px;
	height:250px;
	float:left;
}

#hpg_rec_more p {
	margin-top:0px;
}

#hpg_hob_more p {
	margin-top:0px;
}

/* jobs.html */
#jbs_text_wrap { /* Div behind pictures to wrap text */
	width:220px;
	height:90px;
	float:right;
}

/* languages.html */
#lng_text_wrap { /* Div behind pictures to wrap text */
	width:220px;
	height:150px;
	float:right;
}

/* projects */
#proj_text_wrap { /* Div behind pictures to wrap text */
	width:520px;
	height:315px;
	float:right;
}