/* CSS Document */
@charset "utf-8";

/* Body */
body {
	/* No border, objects go to edge */
	margin:0px;
	border:0px;
	background-color:rgba(237,208,169,1);
}

/* Header */
header {
	margin-left:auto;
	margin-right:0px;
	margin-top:5px;
	border:0px;
	float:right;
}

header h1 {
	background-color:#66CC99;
	font-family:Arial, Verdana, sans-serif;
	font-size:36px;
	color:#C60;
	margin-bottom:2px;
	padding:10px;
	padding-bottom:17px;
}

header nav {
	width:650px;
	margin-top:-20px;
	background-color:#3399CC;
	font-family:Arial, Verdana, sans-serif;
	font-size:26px;
}

header nav ul {
	width:550px;
	margin-top:5px;
	padding:5px;
	background-color:#3399CC;
	float:right;
	list-style-type:square;
}

header nav ul li {
	float:left;
	padding:1px 2px;
	margin-left:30px;
}

/* Footer */
footer {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1px; /* Get total height to 180px */
	position:relative;
}
footer p {
	margin:0px;
	padding:0px;
	padding-right:10px;
	font-size:26px;
	font-family:Arial, Verdana, sans-serif;
	font: bold;
	color:#C60;
}
footer table {
	width:350px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

/**/
/* Custom ID's */
/**/

#b_main {
	min-height:100%;
	min-width:100%;
	top:0px;
	position:absolute;
	background: url(../images/Background%20Image.jpg) no-repeat center center fixed;
	-webkit-background-size: inherit;
	-moz-background-size: inherit;
	-o-background-size: inherit;
	background-size: inherit;
}

#b_no_footer {
	min-width:100%;
	min-height:100%;
}

#b_sidebar {
	width:250px;
	top:0px;
	bottom:180px;
	border:ridge;
	background-color:#FFF;
	position:absolute;
}

#b_container {
	margin-left:250px; /* sidebar width */
}

#h_container {
	width:100%;
	height:170px;
	float:right;
	clear:both;
}

#b_bgDisplay {
	width:100%;
	min-width:1040px;
	margin-bottom:200px; /* footer height+20 */
	padding-top:20px;
	padding-bottom:20px;
	float:left;
	background-color:rgba(10,30,10,0.8);
}

#b_content {
	display:block;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#f_container {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	border:ridge;
	background-color:#66CC99;
	clear:both;
}

#f_slideButton {
	background-color:#0099FF;
	position: absolute;
	top: -23px;
	right:50%;
	width:100px;
	height:20px;
	border: none;
	cursor: pointer;
}

#f_inside {
	width:75%;
	margin:auto;
	margin-top:9px;
	position:relative;
}

/**/
/* Content Custom ID's */
/**/

/* homepage.html */
#hpg_profile_pic_border {
	width:280px;
	height:400px;
	padding:20px;
	background-color:#3399CC;
	position:absolute;
	float:left;
}

#hpg_profile_pic_container {
	width:240px;
	height:360px;
	padding:20px;
	margin:auto;
	background-color:#FFF;
}

#hpg_header {
	margin-top:50px;
	margin-bottom:50px;
	margin-right:60px;
	font-family:Arial, Verdana, sans-serif;
	font-size:48px;
	font-style:italic;
	font-weight:600;
	text-decoration:underline;
	color:#C60;
	float:right;
}

#hpg_body_border {
	width:900px;
	margin:auto;
	margin-left:70px;
	padding:20px;
	background-color:#3399CC;
	float:right;
}

#hpg_body_content {
	width:860px;
	margin:auto;
	padding:20px;
	background-color:#FFF;
}

#hpg_body_content h4 {
	margin:2px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:32px;
	text-decoration:underline;
}

#hpg_body_content p {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
}